<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <title>Vue01</title>
</head>
<body>
    <h1>다양한 데이터의 출력</h1>
    <div id="app">
        <p>{{myText}}</p>
        <p v-html="myHtml"></p>
        <p>숫자: {{myNumber}}</p>
        <p>부울형: {{myBool}}</p>
        <p>배열: {{myArray}}</p>
        <p>오브젝트: {{myObj}}</p>

        {{$data}}
        <li v-for="(value, key) in $data">{{key}} : {{value}}</li>
        <!--v-for="(value, key, index)" 이런 식으로 인자의 위치로 값을 가져온다(네이밍은 상관 없음. *위치중요*)-->
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                myText: 'Vue를 배워 봅시다. 이렇게 그냥 출력할수도 있고',
                myHtml: '<h3> 태그를 넣어서 출력할 수 도 있습니다</h3>',
                myNumber: '12345',
                myBool: true,
                myArray: [1,2,3,4,5],
                myObj: [
                    {name: '다즐링', price: 600},
                    {name: '얼그레이', price: 500},
                    {name: '실론', price: 400},
                ]
            }
        })
    </script>
</body>
</html>